SECRET_KEY = 'your_long_secret_key_here'
db_user = "your_secret_db_user_here"
db_password = "Your_long_secret_db_password_here"
db_name = "your_db_name_here"

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

# Set to the domain name and any subdomains (e.g. = ['.test.com'])
# To set only a single domain: = ['www.test.com']
# To set all subdomains (wildcard) = ['.test.com']
# To set all domains (don't ever do this shit in production) = ['*']
ALLOWED_HOSTS = ['*']

# Emailing setting
ANYMAIL = {
    "MAILGUN_API_KEY": "<your Mailgun key>",
}
EMAIL_BACKEND = "anymail.backends.mailgun.MailgunBackend"  # or sendgrid.SendGridBackend, or...
DEFAULT_FROM_EMAIL = "you@example.com"  # if you don't already have this in settings
