{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'core/index.css' %}" />

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="home_button" href="#">
            <img id="logo" src="{% static 'core/logo-white.png' %}" />
          </a>
      </div>
      <center>
          <div class="navbar-collapse collapse" id="navbar-main">
              <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                      <input type="text" class="form-control" name="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" name="password" placeholder="Password">
                  </div>
                  <button id="login-button" type="submit" class="btn btn-default">Log In</button>
              </form>
          </div>
      </center>
    </div>
  </div>
</div>
