{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}TakeUp.io | Registration{% endblock %}
{% block opengraph_title %}TakeUp.io | Registration{% endblock %}

{% block page_specific_css %}
<!-- Page-specific CSS styling for: Home -->
	<link rel="stylesheet" type="text/css" href="{% static 'core/index.css' %}" />
{% endblock %}

{% block content %}
<section class="first-section" style="background: url('https://images3.alphacoders.com/424/42467.jpg') no-repeat center center fixed; background-size: cover;">

	<h1>Account Registration</h1>
	<form action="/register/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
	</form>
</section>
{% endblock %}
