<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% with description="TODO" %}
		{% with opengraph_image_url="/static/img/social/opengraph.png" %}
		<!-- Required meta information first -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Opengraph Metadata tags: http://ogp.me/ -->
		<meta property="og:title" content="{% block opengraph_title %}{% endblock %}" />
		<meta property="og:description" content="{{ description }}" />
		<meta property="og:url" content="{{ request.path }}" />
		<meta property="og:image" content="{{ request.get_host }}{{ opengraph_image_url }}" />
		<meta property="og:image:secure_url" content="{{ request.get_host }}{{ opengraph_image_url }}" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="440" />
		<meta property="og:image:height" content="444" />

		<!-- General meta information -->
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="{{ description }}">
		<link rel="canonical" href="{{ request.path }}">
		{% block page_specific_meta %}{% endblock %}
		{% endwith %}
		{% endwith %}

		<!-- Favicon optimisations -->

		<!-- CSS styling -->
		{% include "core/partials/css.html" %}
		{% block page_specific_css %}{% endblock %}
	</head>
	<body>
		{% include "core/partials/navbar.html" %}

		{% block content %}{% endblock %}

		{% include "core/partials/footer.html" %}

		{% include "core/partials/js.html" %}
		{% block page_specific_js %}{% endblock %}
	</body>
</html>
