{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}TakeUp.io | Learn New Skills | Make More Money | Home{% endblock %}
{% block opengraph_title %}TakeUp.io | Learn New Skills | Make More Money | Home{% endblock %}

{% block page_specific_css %}
<!-- Page-specific CSS styling for: Home -->
	<link rel="stylesheet" type="text/css" href="{% static 'core/home.css' %}" />
{% endblock %}

{% block content %}
<section class="first-section" style="background: url('http://www.pageresource.com/wallpapers/wallpaper/neighbor-totoro_2776181.jpg') no-repeat center center fixed; background-size: cover;">
	
	<h1>This site is currently under construction, we're sorry for the inconvenience, come back soon!</h1>
	<h1>Section 1: Overview</h1>
</section>

<section style="background-color: white">
	<h1>Section 2: Explaination (how the service works)</h1>
</section>

<section style="background: url('http://wallpapercave.com/wp/XcYv0Ke.jpg') no-repeat center center fixed; background-size: cover;">
	<h1>Section 3: More Explainations</h1>
</section>

<section style="background-color: black">
	<h1>Section 4: Even More Explainations</h1>
</section>

<section style="background: url('http://pre10.deviantart.net/8f06/th/pre/f/2015/280/3/9/your_lie_in_april____kaori_kousei_sunset_wallpaper_by_cosmicwafflebison-d9caxjk.png') no-repeat center center fixed; background-size: cover;" >
	<h1>Section 5: Jump right in! (put a sign up button here)</h1>
</section>
{% endblock %}
